.gallery_container {
    display: flex;

    .gallery {
        gap: 20px;
        flex-grow: 1;
        display: flex;
        min-width: 800px;
        overflow: hidden;
        flex-direction: column;

        .gallery_buttons {
            gap: 10px;
            display: flex;

            .list_container {
                overflow: hidden;

                .buttons_list {
                    gap: 10px;
                    display: flex;
                    scroll-behavior: smooth;
                    transition: transform .2s ease;
                }
            }

            .button_next {
                transform: rotate(180deg);
            }
        }

        .character_pics {
            display: flex;
            scroll-behavior: smooth;
            transition: transform .2s ease;

            .gallery_item {
                width: 800px;
                min-width: 800px;

                .gallery_pic {
                    width: 800px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 450px;
                        height: 450px;
                        border-radius: 15px;
                    }
                }

                .gallery_desc {
                    font-size: 14px;
                    margin-top: 20px;
                    color: hsla(0, 0%, 100%, 0.65);
                    font-family: 'Do Hyeon', sans-serif;
                }
            }
        }
    }

    .character_card {
        width: 225px;
        margin-left: 27px;

        h4 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            color: hsla(0, 0%, 100%, .65);
            font-family: 'Acme', sans-serif;
        }

        img {
            border-radius: 15px;
        }
    }
}

.no_pic {
    width: 1052px !important;
    min-width: 1052px !important;
}