.gallery_container {
    display: flex;

    .gallery {
        gap: 20px;
        flex-grow: 1;
        display: flex;
        min-width: 800px;
        overflow: hidden;
        flex-direction: column;

        .gallery_buttons {
            gap: 10px;
            display: flex;

            .list_container {
                overflow-x: hidden;

                .buttons_list {
                    gap: 10px;
                    display: flex;
                }
            }

            .scroll_btn {
                button {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .button_next {
                transform: rotate(180deg);
            }
        }

        .character_pics {
            display: flex;
            transition: transform .2s ease;
            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar {
                // display: none;
            }

            .gallery_item {
                min-width: 800px;
                scroll-snap-align: start;

                .gallery_pic {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 450px;
                        height: 450px;
                        border-radius: 15px;
                    }
                }

                .gallery_desc {
                    font-size: 14px;
                    margin-top: 20px;
                    color: hsla(0, 0%, 100%, 0.65);
                    font-family: 'Do Hyeon', sans-serif;
                }
            }
        }
    }

    .character_card {
        width: 225px;
        margin-left: 27px;

        h4 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            color: hsla(0, 0%, 100%, .65);
            font-family: 'Acme', sans-serif;
        }

        img {
            border-radius: 15px;
        }
    }
}

.card {
    img {
        width: 300px !important;
    }
}

@media only screen and (width < 1200px) {
    .character_card {
        display: none;
    }
}