.talent_buttons {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.talent_data {
  gap: 20px;
  padding: 20px;
  display: flex;
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 100%, 0.08);

  .talent_pic {
    img {
      border-radius: 15px;
    }
  }

  .talent_desc {
    h4 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    div {
      font-size: 14px;
      line-height: 20px;
      color: hsla(0, 0%, 100%, 0.65);
      font-family: Tahoma, Helvetica, Arial, sans-serif !important;
    }
  }
}

@media (width < 768px) {
  .talent_data {
    flex-direction: column;
  }
}

@media (width < 400px) {
  .talent_data {
    .talent_pic {
      img {
        width: 100%;
        height: 180px;
      }
    }
  }
}
