.talent_button {
    opacity: .65;
    width: 112px;
    height: 112px;
    display: flex;
    position: relative;
    align-items: center;
    pointer-events: none;
    justify-content: center;

    &:hover {
        opacity: 1;

        button {
            cursor: pointer;
        }
    }

    button {
        width: 70px;
        height: 70px;
        border: none;
        outline: none;
        border-radius: 50%;
        pointer-events: auto;
        background-color: transparent;
        border: 2px solid hsla(0, 0%, 100%, .25);

        image {
            width: 68px;
            height: 68px;
        }
    }

    svg {
        width: 115px;
        height: 115px;
        position: absolute;
        visibility: hidden;
    }
}

.button_active {
    opacity: 1;
}

.border_anemo {
    button {
        border: 2px solid rgba(51, 215, 160, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(51, 215, 160, .45);
            fill-opacity: 1;
        }
    }
}

.border_hydro {
    button {
        border: 2px solid rgba(0, 192, 255, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(0, 192, 255, .45);
            fill-opacity: 1;
        }
    }
}

.border_cryo {
    button {
        border: 2px solid rgba(122, 242, 242, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(122, 242, 242, .45);
            fill-opacity: 1;
        }
    }
}

.border_pyro {
    button {
        border: 2px solid rgba(255, 102, 64, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(255, 102, 64, .45);
            fill-opacity: 1;
        }
    }
}

.border_electro {
    button {
        border: 2px solid rgba(204, 128, 255, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(204, 128, 255, .45);
            fill-opacity: 1;
        }
    }
}

.border_dendro {
    button {
        border: 2px solid rgba(51, 215, 160, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(51, 215, 160, .45);
            fill-opacity: 1;
        }
    }
}

.border_geo {
    button {
        border: 2px solid rgba(255, 176, 13, .85);
    }

    svg {
        visibility: visible;

        path {
            fill: rgba(255, 176, 13, .45);
            fill-opacity: 1;
        }
    }
}