@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
	--pyro-bg: #3d1818;
	--cryo-bg: #09375c;
	--electro-bg: #2a1a67;
	--geo-bg: #3d3015;
	--hydro-bg: #15315c;
	--anemo-bg: #153434;
	--dendro-bg: #183d12;

	--ff-acme: 'Acme', sans-serif;
	--ff-do-hyeon: 'Do Hyeon', sans-serif;
	--ff-tahoma: Tahoma, Helvetica, Arial, sans-serif;
}

* {
	box-sizing: content-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid red; */
}

html,
body {
	color: #fff;
	overflow-y: auto;
	height: 100lvh;
	max-width: 100vw;
	max-height: 100lvh;
	color-scheme: dark light;
}

a {
	color: inherit;
	text-decoration: none;
}

.bg_pyro {
	background-color: var(--pyro-bg);
}

.bg_hydro {
	background-color: var(--hydro-bg);
}

.bg_cryo {
	background-color: var(--cryo-bg);
}

.bg_geo {
	background-color: var(--geo-bg);
}

.bg_electro {
	background-color: var(--electro-bg);
}

.bg_anemo {
	background-color: var(--anemo-bg);
}

.bg_dendro {
	background-color: var(--dendro-bg);
}

.bg_- {
	background-color: #3b4354;
}

.bg_5-Star {
	background: linear-gradient(180deg, #945c2c, #b27330);
}

.bg_4-Star {
	background: linear-gradient(180deg, #5e5789, #9c75b7);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #303030;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #505050;
}

::-webkit-scrollbar-thumb:hover {
	background: #686868;
}
