.main {
  inset: 0;
  padding: 2vh;
  display: flex;
  overflow-y: auto;
  max-height: 100vh;
  position: absolute;
  flex-direction: column;
}

.background {
  background: url("/genshin_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.characters_container {
  gap: 20px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
}