@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.vision {
    inset: 10px;
    width: 30px;
    height: 30px;
}

.character_card_container {
    width: 200px;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 20px;

    .character_card {
        inset: 0;
        position: absolute;

        img {
            position: absolute;
        }
    }

    .character_details {
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        transition: .6s;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        backdrop-filter: blur(1.5px);
        background: rgba(24, 24, 24, 0.7);

        h4 {
            font-size: 25px;
            font-weight: 500;
            color: #d5d5d5;
            text-align: center;
            transition: inset 1s;
            font-family: 'Do Hyeon', sans-serif;
        }
    }

    &:hover {
        .character_details {
            right: 0;
        }
    }
}