.contellations_container {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .constellation {
    .constellation_title {
      gap: 20px;
      display: flex;
      align-items: center;

      h4 {
        font-weight: 400;
        font-size: 20px;
      }
    }

    .contellation_desc {
      font-size: 14px;
      line-height: 20px;
      font-family: var(--ff-tahoma);
      color: hsla(0, 0%, 100%, 0.65);
    }
  }
}
