.details_table {
  padding: 24px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;

  .table_header {
    margin-bottom: 24px;

    h4 {
      font-size: 25px;
      font-weight: 500;
      font-family: var(--ff-acme);
      color: hsla(0, 0%, 100%, 0.65);
    }
  }
}

@media (width < 992px) {
  .details_table {
    .table_header {
      h4 {
        font-size: 22px;
      }
    }
  }
}

@media (width < 600px) {
  .details_table {
    padding: 20px;
    border-radius: unset;
  }
}
