.details_table {
    padding: 24px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;

    .table_header {
        margin-bottom: 24px;

        h4 {
            font-size: 25px;
            font-weight: 500;
            color: hsla(0, 0%, 100%, .65);
            font-family: 'Acme', sans-serif;
        }
    }
}

@media (width < 992px) {
    .details_table {
        .table_header {
            h4 {
                font-size: 22px;
            }
        }
    }
}